<div class="about-us">

    <h2>Catnific Friends - Sobre Nós</h2>

    <p>Entenda um pouco mais sobre nós.</p>

    <div>

        <img class="image" src="https://www.bluecross.org.uk/sites/default/files/d8/2020-05/Introducing%20your%20kitten%20to%20your%20children.jpg" alt="kid and kitten">

    </div>

    <br/>
    <br/>

    <p class="apresentacao">Nosso principal objetivo é promover os nossos amigos felinos. Acreditamos que muitas pessoas não pensam em ter um gatinho de estimação como primeira opção, e muitas vezes isso acontece por falta de conhecimento a respeito das espécies.</p>

    <p class="apresentacao">Acreditamos que proporcionar uma plataforma onde as pessoas possam explorar esse universo irá ajudar a clarear as coisas para quem pensa em adotar um felino.</p>

    <p class="apresentacao">Bom, e se você não puder ter um gatinho neste momento aproveite para explorar e aprender ao máximo sobre eles. Crianças também são 100% bem-vindas para brincar e aprender!</p>

</div>
