<div class="home">

    <h2>Seja bem-vindo à página Catnific Friends</h2>

    <p>Aqui você irá descobrir muitas coisas sobre o mundo dos felinos.</p>

    <div>

        <img class="image" src="https://cms.mountpleasant.com.sg/s3media/2024-02/cats.jpg?VersionId=cqMgkKMUo7LtZx._peqi1ZHC3u_j1DMG" alt="kittens">

    </div>

    <br/>
    <br/>

    <p class="apresentacao">Nós da Catnific Friends somos apaixonados por gatos! Como sabemos que existem muitos outros amantes dos felinos por aí decidimos criar essa página que traz imagens e informações a respeito de diversas raças de gatos. Tudo isso com apenas um clique de distância!</p>

    <p class="apresentacao">Através desse clique você receberá uma imagem aleatória de algum gato junto com informações específicas sobre ele. O melhor é que a cada clique no botão você recebe uma nova imagem e informações, ou seja, sinta-se livre para explorar ao máximo.</p>

</div>
