.home {
    background-color: lightblue;
    color: black;
    height: 700px;
    width: 100%;
    text-align: center;
}

.image {
    width: 100%;
    height: 400px;
}

.apresentacao {
    text-align: justify;
    width: 80%;
    margin-left: 10%;
}